html {
	margin: 0 !important;
	padding: 0 !important;
    min-height: 100vh !important;
}
body {
	min-height: 100vh !important;
	position: relative !important;
}

.content {
	padding-bottom: 8em !important; /* space for footer */
}

.panel-text {
	/*#FFEB00*/
	color: #C000DD !important;
	text-align: center;
}

.panel-text:hover {
	color:#6C007F !important;
}

.panel-text-active {
	color: #6C007F !important;
	text-align: center;
}

.panel-text-static {
	color: #C000DD !important;
	text-align: center;
}

.panel-color {
	/*#C000DD*/
	background-color: #FFFF82 !important;
}

.footer-panel {
	padding: 1%;
	left: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
}

.banner {
	max-width: 100%;
}

.fit-img {
	height: 10% !important;
}

.full-img {
	width: 100% !important;
}

#join-img {
	width: 35em !important;
}

.centered {
	text-align: center !important;
}
